<!--
/**
 * Copyright © Lyra Network.
 * This file is part of PayZen plugin for Magento 2. See COPYING.md for license details.
 *
 * @author    Lyra Network (https://www.lyra.com/)
 * @copyright Lyra Network
 * @license   https://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
-->

<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {id: getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label data-bind="attr: {for: getCode()}" class="label">
            <!-- Standard logo. -->
            <!-- ko if: getModuleLogoUrl() -->
                <img data-bind="attr: {src: getModuleLogoUrl()}"
                     class="payment-icon"
                     style="width: 76px;"
                />
            <!--/ko-->
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address payzen-form">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div id='payzen_standard_message'></div>

        <fieldset class="fieldset payment method payzen-form" data-bind="attr: {id: 'payment_form_' + getCode()}" style="padding-top: 10px;">
            <!-- ko if: (getEntryMode() == 2) && !isOneClick() --><!-- Payment means selection on merchant site. -->
                <!-- ko template: 'Lyranetwork_Payzen/payment/cc-type' --><!-- /ko -->
            <!--/ko-->

            <!-- ko if: (getEntryMode() == 4 || getEntryMode() == 5) && getRestFormToken() --><!-- Embedded or popin mode. -->
                <!-- ko template: { name: 'Lyranetwork_Payzen/payment/rest', data: $parent, afterRender: function(elts) { $data.initRestEvents(elts); } } --><!-- /ko -->
            <!--/ko-->

            <!-- ko if: isOneClick() && !getRestFormToken() -->
                <ul class="payzen-identifier">
                    <li class="payzen-standard-cc-block payzen-block">
                        <!-- ko if: (getEntryMode() == 2) --><!-- Payment means selection on merchant site. -->
                            <!-- ko template: 'Lyranetwork_Payzen/payment/cc-type' --><!-- /ko -->
                        <!--/ko-->

                        <span data-bind="i18n: 'You will enter payment data after order confirmation.'"></span>
                    </li>

                    <li class="payzen-standard-cc-block payzen-block">
                        <span data-bind="i18n: 'OR'"></span>
                    </li>

                    <li class="payzen-standard-cc-block payzen-block">
                        <a data-bind="click: function() { payzenUseIdentifier(1); updatePaymentBlock('id'); return true; }"
                           class="payzen-payment-link" href="javascript: void(0);">
                            <span data-bind="i18n: 'Click here to pay with your stored means of payment.'"></span>
                        </a>
                    </li>

                    <li class="payzen-standard-id-block payzen-block" >
                        <span data-bind="html: $t('You will pay with your stored means of payment %s').replace('%s', '<b>' + getMaskedPan() + '</b>')"></span>
                        <a data-bind="attr: {href: getPaymentMeansUrl()}" class="payzen-payment-link">
                            (<span data-bind="i18n: 'manage your payment means'"></span>).
                        </a>
                    </li>

                    <li class="payzen-standard-id-block payzen-block">
                        <span data-bind="i18n: 'OR'"></span>
                    </li>

                    <li class="payzen-standard-id-block payzen-block">
                        <a data-bind="click: function() { payzenUseIdentifier(0); updatePaymentBlock('cc'); return true; }"
                           class="payzen-payment-link" href="javascript: void(0);">
                            <span data-bind="i18n: 'Click here to pay with another means of payment.'"></span>
                        </a>
                    </li>
                </ul>
            <!--/ko-->
        </fieldset>

        <div class="checkout-agreements-block payzen-form">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar payzen-form">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="click: placeOrderClick,
                                   attr: {title: $t('Pay with PayZen')},
                                   css: {disabled: !isPlaceOrderActionAllowed()},
                                   enable: (getCode() == isChecked())"
                        disabled>
                    <span data-bind="i18n: 'Pay with PayZen'"></span>
                </button>
            </div>
        </div>

        <!-- ko if: (getEntryMode() == 3) --><!-- Iframe mode is enabled. -->
            <!-- ko template: { name: 'Lyranetwork_Payzen/payment/iframe', data: $parent, afterRender: function(elts) { $data.initIframeEvents(elts); } } --><!-- /ko -->
        <!--/ko-->
    </div>
</div>