<!--
/**
 * Copyright © Lyra Network.
 * This file is part of PayZen plugin for Magento 2. See COPYING.md for license details.
 *
 * @author    Lyra Network (https://www.lyra.com/)
 * @copyright Lyra Network
 * @license   https://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
-->

<!-- ko if: ($parent.getEntryMode() == 5) --><!-- Popin mode is enabled. -->
<div id="payzen_rest_form" class="kr-embedded payzen-standard-cc-block payzen-standard-id-block" kr-popin>
    <div class="kr-pan"></div>
    <div class="kr-expiry"></div>
    <div class="kr-security-code"></div>

    <button type="button" class="kr-payment-button"></button>
    <div class="kr-form-error"></div>
</div>
<!--/ko-->

<!-- ko if: ($parent.getEntryMode() == 4) --><!-- Embedded mode is enabled. -->
<div id="payzen_rest_form" class="kr-embedded payzen-standard-cc-block payzen-standard-id-block">
    <div class="kr-pan"></div>
    <div class="kr-expiry"></div>
    <div class="kr-security-code"></div>

    <div style="display: none;">
        <button type="button" class="kr-payment-button"></button>
    </div>

    <div class="kr-form-error"></div>
</div>
<!--/ko-->