<!--@subject {{trans "Order has been change" }} @-->
<!--@vars {
"var order_data.customer_name":"Customer Name",
"var order.increment_id":"Order Id"
} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "Name: %customer_name" customer_name=$order_data.customer_name}}</p>
            <p class="greeting">{{trans "Email: %email" email=$order_data.customer_email}}</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>{{trans "ORDER #%increment_id" increment_id=$order.increment_id }}</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
