<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Notify Submit Contact Form"}} @-->
{{template config_path="design/email/header_template"}}

<p><strong>{{trans "Thanks for contacting us with your comments and questions, We will respond to you very soon."}}</strong></p>

{{template config_path="design/email/footer_template"}}
