<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="admin__field-control">
    <div class="file-uploader" data-role="drop-zone" css="_loading: isLoading">
        <div class="file-uploader-area">
            <input type="file" afterRender="onElementRender" attr="id: uid, name: fileInputName, multiple: isMultipleFiles"/>
            <label class="file-uploader-button action-secondary" attr="for: uid" translate="'Browse Files...'"/>
            <span class="file-uploader-spinner"/>
        </div>
        <render args="tooltipTpl" if="$data.tooltip"/>

        <div class="field-note" if="$data.notice" attr="id: noticeId">
            <span html="notice"/>
        </div>
        <label class="admin__field-error" if="error" attr="for: uid" text="error"/>

        <each args="data: value, as: '$file'" render="$parent.getPreviewTmpl($file)"/>
        <render args="$data.service.template" if="$data.hasService()"/>
    </div>
</div>
